$sizes:
(
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto
) ;

@import "ember-cli-bootstrap-4/bootstrap";

.click-icon {
  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.click-icon-disabled {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

@import "ember-bootstrap/bootstrap";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.building {
  max-width: 500px;
}

.scrollable {
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}

.scrollable-empire {
  overflow-y: scroll;
  max-height: calc(100vh - 160px);
}

// Disable some reboot.scss for non-button buttons.
// See issue https://github.com/DainDwarf/IncrementalEmpire/issues/112
[type=button] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

[type=button][disabled] {
  cursor: default;
  pointer-events: none;
  opacity: $btn-disabled-opacity;
  @include box-shadow(none);
}
