<button type="button"
        class="btn btn-outline-success"
        disabled={{isGenFoodOnCooldown}}
        onclick={{action "genFood"}}>
  Horn of Plenty <small><FaIcon @icon="magic" /> 1</small>
</button>
{{outlet}}