<div class="container-fluid">
  <button type="button" class="btn btn-outline-success my-2" disabled={{isGenPopulationOnCooldown}} onclick={{action "genPopulation"}}>Spontaneous Generation</button>
</div>
{{outlet}}