<div class="row mx-2 my-2">
  {{#each model as |achievement|}}
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          {{achievement.name}}
        </div>
        <div class="card-body">
          <p class="card-text">{{achievement.description}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}