<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}
    {{model.name}}
  {{/link-to}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"> popo </li>
      <li class="nav-item"> happiness </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"> mana </li>
      <li class="nav-item"> culture </li>
      <li class="nav-item"> money </li>
      <li class="nav-item"> science </li>
    </ul>
  </div>
  {{outlet}}
</nav>